{% extends 'AIsite/base.html' %}
{% load static %}

{% block content %}
<div class="mainpage-content" style="background-image: url('{% static 'images/main500.png' %}');">
    <div class="main-item">
        <h1 class="main-list-content">Используй всю силу искусственного интеллекта!</h1>

        <h3 class="main-list-content">Создание Креативных Рекламных Слоганов</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           OctoGPT может помочь маркетологам и рекламным специалистам создавать уникальные и привлекательные слоганы для продвижения продуктов и услуг.
            </div>
        </div>
        <h3 class="main-list-content">Оптимизация Сайта для SEO</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           С OctoGPT можно автоматизировать процесс оптимизации веб-сайтов для поисковых систем, что сэкономит время и улучшит позиции сайта в поисковых результатах.
            </div>
        </div>
        <h3 class="main-list-content">Консультации по Инвестициям</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           Финансовые консультанты могут использовать OctoGPT для предоставления клиентам советов по инвестициям, анализа рынка и разработки стратегий.
            </div>
        </div>
        <h3 class="main-list-content">Онлайн-Техническая Поддержка</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           ИТ-специалисты могут внедрять OctoGPT в онлайн-чаты для предоставления быстрой и эффективной технической поддержки клиентам.
            </div>
        </div>
        <h3 class="main-list-content">Автоматизированный Подбор Кандидатов</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           HR-специалисты могут использовать OctoGPT для автоматического анализа резюме и подбора наиболее подходящих кандидатов для вакансий.
            </div>
        </div>
        <h3 class="main-list-content">Автоматическая Обработка Заказов</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           Владельцы интернет-магазинов могут внедрить OctoGPT для автоматической обработки и отслеживания заказов, улучшая процесс обслуживания клиентов.
            </div>
        </div>
        <h3 class="main-list-content">Генерация Креативных Идей</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           Художники и дизайнеры могут использовать OctoGPT для получения новых идей и вдохновения в создании искусства и дизайна.
            </div>
        </div>
        <h3 class="main-list-content">Автоматизация Финансовой Отчетности</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           Финансовые аналитики могут воспользоваться OctoGPT для автоматической генерации финансовых отчетов и анализа данных.
            </div>
        </div>
        <h3 class="main-list-content">Обучение и Образование в Режиме Онлайн</h3>
        <div class="main-list-item">
            <div class="main-list-content">
           Преподаватели и тренеры могут использовать OctoGPT для создания интерактивных учебных курсов и онлайн-обучения.
            </div>
        </div>
        <h3 class="main-list-content">Поддержка Клиентов</h3>
        <div class="main-list-item">
            <div class="main-list-content">
            Организации могут внедрить OctoGPT для предоставления информации и консультаций клиентам, улучшая доступность поддержки.
            </div>
        </div>
    </div>
</div>
{% endblock %}